<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title th:text="#{Credit}"></title>
    <link rel="stylesheet" href="/test_task_project.css">
</head>
<body>
<div class="container">
    <header class="header">
        <nav class="header-nav">
            <div class="header-logo">
                <h3 th:text="#{Credit}"></h3>
            </div>
            <ul class="header-nav-list">
                <li>
                    <a th:href="@{/bank/}" th:text="#{Bank}"></a>
                </li>
                <li>
                    <a th:href="@{/credit/}" th:text="#{Credit}"></a>
                </li>
                <li>
                    <a th:href="@{/}" th:text="#{Customer}"></a>
                </li>
                <li>
                    <a th:href="@{/loan_offer/}" th:text="#{LoanOffer}"></a>
                </li>
                <li>
                    <a th:href="@{/payment_schedule/}" th:text="#{PaymentSchedule}"></a>
                </li>
            </ul>
        </nav>
    </header>
    <br/>
    <div class="content-table">
        <div class="content-header">
            <h2 th:text="#{Add.new.credit}"></h2>
        </div>
        <form th:action="@{/credit/add/}" method="POST" class="content-add" th:object="${new_credit}">
            <div class="content-fields">
                <div>
                    <p th:text="#{Enter.credit.limit}"></p>
                    <p th:if="${#fields.hasErrors('creditLimit')}" th:class="${#fields.hasErrors('creditLimit')} ? error"
                       th:errors="*{creditLimit}">Error</p>
                    <input id="creditLimit" type="text"
                           name="creditLimit"
                           th:value="${new_credit.creditLimit}"/>
                </div>
                <div>
                    <p th:text="#{Enter.interest.rate}"></p>
                    <p th:if="${#fields.hasErrors('interestRate')}" th:class="${#fields.hasErrors('interestRate')} ? error"
                       th:errors="*{interestRate}">Error</p>
                    <input id="interestRate" type="text"
                           name="interestRate"
                           th:value="${new_credit.interestRate}"/>
                </div>
            </div>
            <div class="content-fields">
                <div class="conent-filter-button">
                    <p th:text="#{Action}"></p>
                    <button type="submit" th:text="#{Add}"></button>
                    <button th:type="reset" th:text="#{Remove}"></button>
                </div>
            </div>
        </form>
        <br/>
    </div>
    <div class="content-table">
        <div class="content-header">
            <h2 th:text="#{Credit.information}"></h2>
        </div>
        <table>
            <thead>
            <th th:text="#{Credit.limit}"></th>
            <th th:text="#{Interest.rate}"></th>
            <th>Действие</th>
            </thead>
            <tbody th:each="credit : ${credit_list}">
            <td th:utext="${credit.getCreditLimit()}"></td>
            <td th:utext="${credit.getInterestRate()}"></td>
            <td>
                <a onclick="return confirm('Вы действительно хотите удалить запись')"
                   th:href="@{/credit/delete/{id}(id=${credit.getId()})}" th:text="#{Delete}"></a>
            </td>
            </tbody>
        </table>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <p th:text="#{Footer}"></p>
        </div>
    </footer>
</div>
</body>
</html>